@using ASI.Basecode.Services.ServiceModels
@using static ASI.Basecode.Resources.Views.Screen
@model UserListViewModel
@{
    ViewData["Title"] = "Users";
}
@section styles {
    <link href="~/css/users.css" rel="stylesheet" />
}
<div class="position-relative mt-3">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-start">
                Flip Thru
            </h1>
        </div>
        <div class="col-md-2">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl" class="dashboard-image position-absolute">
        </div>
    </div>
</div>

<h4 class="text-start display-4">
    User List
</h4>

@using (@Html.BeginForm("Search", "Account"))
{
<div class="row">
    <div class="col-6">
        
        <div class="float-start search-container">
            <div class="form">
                <div class="input-group mb-2 mt-2">
                    <i class="fa fa-search"></i>
                    <input class="form-control form-input input-sm rounded" id="Filters_Email" name="Filters.Email" type="text" placeholder="Search User" />
                    <input class="btn search-button btn-sm ml-1" type="submit" name="action" value="Search" />
                </div>
            </div>
        </div>      
    </div>

    <div class="col-6">
            <a class="btn add-user-button btn-sm float-right mt-3" role="button">Add User <i class="fa-solid fa-plus"></i> </a>
    </div>
        
</div>
}
<div class="row">
    <div class="col">
        <div class="tbl-container">
            <table class="table table-hover" id="table-books">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserList)
                    {
                        <tr>
                            <th scope="row" class="text-center">@Html.DisplayFor(modelItem => item.Email)</th>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="text-center">
                                <a class="btn edit-button btn-sm" role="button" asp-controller="Account" asp-action="Update" asp-route-userId="@item.Email">Edit <i class="fa-regular fa-pen-to-square"></i> </a>
                                <a class="btn delete-button btn-sm" role="button" asp-controller="Account" asp-action="Delete" asp-route-userId="@item.Email">Delete <i class="fa-solid fa-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

