@using ASI.Basecode.Services.ServiceModels
@model BookMasterListViewModel
@using static ASI.Basecode.Resources.Views.Screen
@{
    ViewData["Title"] = "Book List";
}
@section styles {
    <link href="~/css/booklist.css" rel="stylesheet" />
}
<div class="position-relative mt-3">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-start">
                Flip Thru
            </h1>
        </div>
        <div class="col-md-2">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl" class="dashboard-image position-absolute">
        </div>
    </div>
</div>

<h4 class="text-start display-4">
    Book List
</h4>

<div class="row">
    <div class="col-6">
 
        @using (@Html.BeginForm("SearchBook", "Admin"))
        {
        <div class="float-start search-container">
            <div class="form">
                <div class="input-group mb-2 mt-2">
                    <i class="fa fa-search"></i>
                        <input class="form-control form-input input-sm rounded" id="Filters_BookTitle" name="Filters.BookTitle" type="text" placeholder="Search Title" />
                    <input class="btn search-button btn-sm ml-1" type="submit" name="action" value="Search" />
                </div>
            </div>
        </div>
        }
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="tbl-container">
            <table class="table table-hover" id="table-genre">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Book ID</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">Book Author</th>
                        <th scope="col">Book Genre</th>
                        <th scope="col">Book Cover</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.BookList)
                    {
                        var BookImages = "/books/" + (book.BookImage ?? "noimage.jpg");
                        <tr class="text-center">
                            <th scope="row">@book.BookId</th>
                            <td>@book.BookTitle</td>
                            <td>@book.BookAuthor</td>
                            <td>@book.BookGenreName</td>                         
                            <td><img src="@BookImages" alt="Book Image" asp-append-version="true" /></td>
                            <td>
                                <a class="btn edit-button btn-sm" role="button" asp-controller="Admin" asp-action="AdminBookUpdate" asp-route-bookId="@book.BookId">Edit <i class="fa-regular fa-pen-to-square"></i> </a>
                                <a class="btn delete-button btn-sm" role="button" asp-controller="Admin" asp-action="RemoveBook" asp-route-bookId="@book.BookId">Delete <i class="fa-solid fa-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Book List Navigation">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= Math.Ceiling((double)Model.TotalItemCount / Model.ItemsPerPage); i++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("AdminBookList", new { PageNumber = i })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var listItems = '@Html.Raw(Json.Serialize(@Model.BookList))';
        console.table(JSON.parse(listItems));

    </script>
}