@using ASI.Basecode.Services.ServiceModels
@using System.Text
@model BookMasterListViewModel

@{
    ViewData["Title"] = "Dashboard";
}
@section styles {
	<link href="~/css/dashboard.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-6">
        <h4 class="text-start display-4 ml-3">
            FlipThru
        </h4>
    </div>
</div>

<div class="dashboard-body">
    <div class="dashboard-content">
        <div class="dashboard-text">
            <h3>Review Your Books, Flipthru <br> Your Library</h3>
        </div>
        <div class="dashboard-image">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl">
        </div>
    </div>
</div>

<div class="new-book-body">
    <h2 class="new-book-title">New Book</h2>
    <a class="see-more-link" asp-controller="Home" asp-action="NewBooks">See More</a>
    <div class="book-containers">
        @for (int i = 0; i < Math.Min(5, Model.AddedList.Count); i++)
        {
            var book = Model.AddedList[i];

            var bookImagePath = Url.Content("~/clients/" + (book.BookImage ?? "noimage.jpg"));

            <a class="new-book-link" href="#">
                <div class="book-container">
                    <img src="@bookImagePath" alt="Book Cover">
                    <div class="new-book-info">
                        <h4>@book.BookTitle</h4>
                        <p>@book.BookAuthor</p>
                        @Html.Raw(GetStarRatingHtml(book.AverageRating))
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<div class="book-list-body">
    <h2 class="book-list-title">Book List</h2>
    <a class="view-all-link" asp-controller="Home" asp-action="BookList">View All</a>
    <div class="book-list-container">
        <div class="book-list">
            @for (int i = 0; i < Math.Min(3, Model.AddedList.Count); i++)
            {
                var book = Model.AddedList[i];

                var BookImage = "~/clients/" + (book.BookImage ?? "noimage.jpg");
                <div class="book-item">
                    <img src="@BookImage" alt="Book cover" asp-append-version="true">
                    <div class="book-list-details">
                        <div class="book-info">
                            <h4>@book.BookTitle</h4>
                            <p>@book.BookAuthor</p>
                            <div class="reviews-ratings">
                                <span class="reviews">Reviews: @book.ReviewCount <i class="fas fa-comment"></i></span>
                                <span class="ratings">Ratings: @book.AverageRating <i class="fa-solid fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="popular-books-body">
    <h2 class="popular-books-title">Popular Books</h2>
    <div class="popular-books-containers">
        @for (int i = 0; i < Math.Min(5, Model.AddedList.Count); i++)
        {
            var book = Model.AddedList[i];

            var bookImagePath = Url.Content("~/clients/" + (book.BookImage ?? "noimage.jpg"));

            <a class="popular-books-link" href="#">
                <div class="popular-books-container" id="book@i">
                    <div class="place-badge">
                        <i class="fas fa-award"></i>
                        @* <h4>@i</h4> *@
                    </div>
                    <img src="@bookImagePath" alt="Book Cover">
                    <div class="popular-books-info">
                        <h4>@book.BookTitle</h4>
                        <p>@book.BookAuthor</p>
                        <div class="star-rating">
                            @Html.Raw(GetStarRatingHtml(book.AverageRating))
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    <a class="popular-see-more-link" asp-controller="Home" asp-action="TopBooks">See More</a>
</div>

<div class="popular-books-list-body">
    <h2 class="popular-books-list-title">Top Books</h2>
    <div class="popular-books-list-container">
        <div class="popular-books-list">
            @for (int i = 0; i < Math.Min(3, Model.AddedList.Count); i++)
            {
                var book = Model.AddedList[i];
                var bookImagePath = Url.Content("~/clients/" + (book.BookImage ?? "noimage.jpg"));

                <div class="popular-books-list-item">
                    <div class="popular-books-list-number">@(i + 1)</div>
                    <img src="@bookImagePath" alt="Book Cover">
                    <div class="popular-books-list-details">
                        <div class="popular-books-list-info">
                            <h4>@book.BookTitle</h4>
                            <p>by @book.BookAuthor</p>
                            <p>@book.BookGenreName</p>
                            <div class="popular-reviews-ratings">
                                <span class="reviews">Reviews: @book.ReviewCount <i class="fas fa-comment"></i></span>
                                <span class="ratings">Ratings: @book.AverageRating <i class="fa-solid fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="go-to-book"><i class="fas fa-chevron-right"></i></a>
                </div>
            }
        </div>
    </div>
</div>

@functions {
    string GetStarRatingHtml(double averageRating)
    {
        var result = new StringBuilder();

        result.Append("<div class='star-rating'>");

        for (int i = 1; i <= 5; i++)
        {
            var isFilled = i <= averageRating;
            var starClass = isFilled ? "fas fa-star" : "fa-regular fa-star";

            result.AppendFormat("<i class='{0}'></i>", starClass);
        }

        result.Append("</div>");

        return result.ToString();
    }
}


