@using ASI.Basecode.Services.ServiceModels
@model BookMasterListViewModel
@using static ASI.Basecode.Resources.Views.Screen
@{
    ViewData["Title"] = "Book List";
}
@section styles {
	<link href="~/css/index.css" rel="stylesheet" />
}
<div class="position-relative mt-3">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-start">
                Flip Thru
            </h1>
        </div>
        <div class="col-md-2">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl" class="dashboard-image position-absolute">
        </div>
    </div>
</div>

<h4 class="text-start display-4">
    Book List
</h4>


@using (Html.BeginForm("Search", "Home"))
{
    <div class="row">
        <div class="col-6">
            <div class="float-start search-container">
                <div class="form">
                    <div class="input-group mb-2 mt-2">
                        <i class="fa fa-search"></i>
                        <input class="form-control form-input input-sm rounded" id="Filters_SearchTerm" name="Filters.SearchTerm" type="text" placeholder="Discover" />
                        <input class="btn search-button btn-sm ml-1" type="submit" name="action" value="Search" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <a class="btn new-button btn-sm float-right mt-3" role="button" asp-controller="Home" asp-action="NewBooks">New <i class="fa-solid fa-certificate"></i></a>
            <a class="btn top-button btn-sm float-right mt-3 mr-2" role="button" asp-controller="Home" asp-action="TopBooks">Top <i class="fa-solid fa-arrow-up"></i></a>
        </div>

    </div>
}


<div class="row">
    <div class="col">
        <div class="tbl-container">
            <table class="table table-hover" id="table-genre">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Book Title</th>
                        <th scope="col">Book Author</th>
                        <th scope="col">Average Rating</th>
                        <th scope="col">Review Count</th>
                        <th scope="col">Book Cover</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BookList)
                    {
                        var BookImage = "~/clients/" + (item.BookImage ?? "noimage.jpg");
                        <tr class="text-center">
                            <th scope="row">@item.BookTitle</th>
                            <td>@item.BookTitle</td>
                            <td>@item.BookAuthor</td>
                            <td>@item.BookGenreName</td>
                            <td><img src="@BookImage" alt="Book Image" asp-append-version="true" /></td>
                            <td>
                                <a class="btn review-button btn-sm" role="button" asp-controller="Home" asp-action="BookReviews" asp-route-bookId="@item.BookId">Review <i class="fa-regular fa-star"></i> </a>
                                <a class="btn read-button btn-sm" role="button" asp-controller="Home" asp-action="ReadBooks" asp-route-bookId="@item.BookId">Read <i class="fa-solid fa-book"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var listItems = '@Html.Raw(Json.Serialize(@Model.BookList))';
        console.table(JSON.parse(listItems));

    </script>

    <script>
        var listItems = '@Html.Raw(Json.Serialize(@Model.BookList))';
        console.table(JSON.parse(listItems));

        function clearFilters() {
            console.log("CLEARED")
            $('#Filters_BId').val('');
            $('#Filters_BookTitle').val('');
        }
    </script>
}