@using ASI.Basecode.Services.ServiceModels
@model BookMasterListViewModel
@{
    ViewData["Title"] = "New Books";
}
@section styles {
	<link href="~/css/newbooks.css" rel="stylesheet" />
}

<div class="book-list-body">
    <h2 class="book-list-title mb-4">Recently Added Books</h2>
    <div class="book-list-container">
        <div class="book-list">
            @foreach (var book in Model.AddedList)
            {
                var bookImagePath = Url.Content("~/clients/" + (book.BookImage ?? "noimage.jpg"));

                <div class="book-item">
                    <img src="@bookImagePath" alt="Book Cover">
                    <div class="book-list-details">
                        <div class="book-info">
                            <h4>@book.BookTitle</h4>
                            <p>Author @book.BookAuthor</p>
                            <div class="reviews-ratings">  @* can add review count and rating count (static for now) *@
                                <span class="reviews">Reviews: @book.ReviewCount <i class="fas fa-comment"></i></span>
                                <span class="ratings">Ratings: @book.AverageRating <i class="fa-solid fa-star"></i></span>
                                <span class="date">Date: @book.AddedBooks.ToShortDateString() <i class="fa-solid fa-calendar-days"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
