@using ASI.Basecode.Services.ServiceModels
@model BookMasterListViewModel
@{
    ViewData["Title"] = "Top Books";
}
@section styles {
	<link href="~/css/topbooks.css" rel="stylesheet" />
}

<div class="popular-books-list-body mt-3">
    <h2 class="popular-books-list-title ml-5 mb-4">Top Books</h2>
    <div class="popular-books-list-container">
        <div class="popular-books-list">
            @for (int i = 0; i < Model.TopList.Count; i++)
            {
                var book = Model.TopList[i];
                var bookImagePath = Url.Content("~/clients/" + (book.BookImage ?? "noimage.jpg"));

                <div class="popular-books-list-item">
                    <div class="popular-books-list-number">@(i + 1)</div>
                    <img src="@bookImagePath" alt="Book Cover">
                    <div class="popular-books-list-details">
                        <div class="popular-books-list-info">
                            <h4>@book.BookTitle</h4>
                            <p>by @book.BookAuthor</p>
                            <p>@book.BookGenreName</p>
                            <div class="popular-reviews-ratings">
                                <span class="reviews">Reviews: @book.ReviewCount <i class="fas fa-comment"></i></span>
                                <span class="ratings">Ratings: @book.AverageRating <i class="fa-solid fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="go-to-book"><i class="fas fa-chevron-right"></i></a>
                </div>
            }
        </div>
    </div>
</div>

