@* @using ASI.Basecode.Services.ServiceModels
@model BookMasterListViewModel
@{
    ViewData["Title"] = "Top Books";
}
@section styles {
    <link href="~/css/newbooks.css" rel="stylesheet" />
}

<!DOCTYPE html>
<html>
<head>
    <title>Top Books</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        .book-container {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 15px;
        }

        h2 {
            color: #007bff;
        }

        p {
            color: #555;
        }

        .book-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .book-details {
            margin-top: 10px;
        }

            .book-details span {
                margin-right: 10px;
            }
    </style>
    @using (Html.BeginForm("Search", "Home"))
    {
        <div class="row">
            <div class="col-sm-2">
                @Html.Label("Search")
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Filters.SearchTerm, new { @class = "form-control", placeholder = "Discover" })
            </div>
        </div>
        <div class="row" style="margin-top: 35px; margin-bottom: 35px">
            <div class="col" style="padding: 0px 40px 0px 40px; display:flex; justify-content:flex-end">
                <input class="btn btn-dark" type="submit" name="action" value="search" style="margin-right: 15px" />
                <input class="btn btn-light" type="button" name="action" value="clear" onclick="clearFilters()" />
            </div>
        </div>
    }
</head>
<body>
    <h1>Top Books</h1>

    @foreach (var book in Model.TopList)
    {
        var bookImagePath = Url.Content("~/clients/" + (book.BookImage ?? "noimage.jpg"));

        <div class="book-container">
            <img src="@bookImagePath" alt="Book Image" class="book-image" />
            <h2>@book.BookTitle</h2>
            <p>Author: @book.BookAuthor</p>

            <div class="book-details">
                <span>Average Rating: @book.AverageRating</span>
                <span>Review Count: @book.ReviewCount</span>
            </div>

            <div>
               <!-- <h3>Reviews:</h3>
                <ul>
                    @foreach (var review in book.Reviews)
                    {
                        <li>@review.ReviewName: @review.ReviewComments</li>
                    }
                 </ul>-->
            </div>
        </div>
    }
</body>
</html>
 *@

@using ASI.Basecode.Services.ServiceModels
@model BookMasterListViewModel
@{
    ViewData["Title"] = "Top Books";
}
@section styles {
	<link href="~/css/topbooks.css" rel="stylesheet" />
}

<div class="popular-books-list-body mt-3">
    <h2 class="popular-books-list-title ml-5 mb-4">Top Books</h2>
    <div class="popular-books-list-container">
        <div class="popular-books-list">
            @for (int i = 0; i < Model.TopList.Count; i++)
            {
                var book = Model.TopList[i];
                var bookImagePath = Url.Content("~/clients/" + (book.BookImage ?? "noimage.jpg"));

                <div class="popular-books-list-item">
                    <div class="popular-books-list-number">@(i + 1)</div>
                    <img src="@bookImagePath" alt="Book Cover">
                    <div class="popular-books-list-details">
                        <div class="popular-books-list-info">
                            <h4>@book.BookTitle</h4>
                            <p>by @book.BookAuthor</p>
                            <p>@book.BookGenreName</p>
                            <div class="popular-reviews-ratings">
                                <span class="reviews">Reviews: @book.ReviewCount <i class="fas fa-comment"></i></span>
                                <span class="ratings">Ratings: @book.AverageRating <i class="fa-solid fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="go-to-book"><i class="fas fa-chevron-right"></i></a>
                </div>
            }
        </div>
    </div>
</div>

