@using ASI.Basecode.Services.ServiceModels
@using System.Text
@model BookMasterListViewModel

@{
    ViewData["Title"] = "Dashboard";
}
@section styles {
    <link href="~/css/dashboard.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-6">
        <h4 class="text-start display-4 ml-3">
            Dashboard
        </h4>
    </div>
</div>

<div class="dashboard-body">
    <div class="dashboard-content">
        <div class="dashboard-text">
            <h3>Review Your Books, Flipthru <br> Your Library</h3>
        </div>
        <div class="dashboard-image">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl">
        </div>
    </div>
</div>

<div class="new-book-body">
    <h2 class="new-book-title">New Book</h2>
    <div class="book-containers">
        @for (int i = 0; i < Math.Min(5, Model.AddedList.Count); i++)
        {
            var book = Model.AddedList[i];

            var bookImagePath = Url.Content("~/books/" + (book.BookImage ?? "noimage.jpg"));

            <a class="new-book-link" href="#">
                <div class="book-container">
                    <img src="@bookImagePath" alt="Book Cover" asp-append-version="true">
                    <div class="new-book-info">
                        <h4>@book.BookTitle</h4>
                        <p>@book.BookAuthor</p>
                        @Html.Raw(GetStarRatingHtml(book.AverageRating))
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<div class="popular-books-body">
    <h2 class="popular-books-title">Popular Books</h2>
    <div class="popular-books-containers">
        @for (int i = 0; i < Math.Min(5, Model.AddedList.Count); i++)
        {
            var book = Model.AddedList[i];

            var bookImagePath = Url.Content("~/books/" + (book.BookImage ?? "noimage.jpg"));

            <a class="popular-books-link" href="#">
                <div class="popular-books-container" id="book@i">
                    <div class="place-badge">
                        <i class="fas fa-award"></i>
                        @* <h4>@i</h4> *@
                    </div>
                    <img src="@bookImagePath" alt="Book Cover" asp-append-version="true">
                    <div class="popular-books-info">
                        <h4>@book.BookTitle</h4>
                        <p>@book.BookAuthor</p>
                        <div class="star-rating">
                            @Html.Raw(GetStarRatingHtml(book.AverageRating))
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


@functions {
    string GetStarRatingHtml(double averageRating)
    {
        var result = new StringBuilder();

        result.Append("<div class='star-rating'>");

        for (int i = 1; i <= 5; i++)
        {
            var isFilled = i <= averageRating;
            var starClass = isFilled ? "fas fa-star" : "fa-regular fa-star";

            result.AppendFormat("<i class='{0}'></i>", starClass);
        }

        result.Append("</div>");

        return result.ToString();
    }
}


