﻿@using ASI.Basecode.Services.ServiceModels
@using static ASI.Basecode.Resources.Views.Screen
@model BookMasterListViewModel
@{
    ViewData["Title"] = "DashBoard";
}
@section styles {
	<link href="~/css/dashboard.css" rel="stylesheet" />
}
<div class="position-relative mt-3">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-start">
                Flip Thru
            </h1>
        </div>
        <div class="col-md-2">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl" class="dashboard-image position-absolute">
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

        <h4 class="text-start">
            Book List
        </h4>

        <div class="float-start search-container">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search Book">
            </div>
        </div>

        <div class="tbl-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Book ID</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">Book Author</th>
                        <th scope="col">Book Genre</th>
                        <th scope="col">Book Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.BookList)
                    {
                        <tr>
                            <th scope="row">@book.BookId</th>
                            <td>@book.BookTitle</td>
                            <td>@book.BookAuthor</td>
                            <td>@book.BookGenreName</td>
                            <td>@book.BookSynopsis</td>
                            <td>
                                <a class="btn edit-button btn-sm" role="button" asp-controller="Admin" asp-action="AdminBookUpdate" asp-route-bId="@book.BookId">Edit <i class="fa-regular fa-pen-to-square"></i> </a>
                                <a class="btn delete-button btn-sm" role="button" asp-controller="Admin" asp-action="RemoveBook" asp-route-bId="@book.BookId">Delete <i class="fa-solid fa-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

        <h4 class="text-start">
            Review List
        </h4>

        <div class="float-start search-container">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search Book">
            </div>
        </div>

        <div class="tbl-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Book ID</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">User</th>
                        <th scope="col">Book Genre</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Review</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Book 1</th>
                        <td>Percy Jackson</td>
                        <td>Angelo Telamo</td>
                        <td>Fantasy</td>
                        <td>5 stars</td>
                        <td>Good Book</td>
                        <td>
                            <a class="btn edit-button btn-sm" href="#" role="button">Edit <i class="fa-regular fa-pen-to-square"></i> </a>
                            <a class="btn delete-button btn-sm" href="#" role="button">Delete <i class="fa-solid fa-trash"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>