@model ASI.Basecode.Services.ServiceModels.BookMasterListViewModel
@{
    ViewData["Title"] = "DashBoard";
}
@using static ASI.Basecode.Resources.Views.Screen
@*
<div class="search-header">
    <h2 class="dashboard-title">Dashboard</h2>
    <div class="search-container">
        <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-input" placeholder="Search Book">
        </div>
    </div>
</div>

<div class="dashboard-body">
    <div class="dashboard-content">
        <div class="dashboard-text">
            <h3>Upload Your Books, Create <br> Your Library</h3>
            <button class="add-button">
                Add New Book <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="dashboard-image">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl">
        </div>
    </div>
</div>

<div class="new-book-body">
    <h2 class="new-book-title">New Book</h2>
    <a href="#" class="see-more-link">See More</a>
    <div class="book-containers">
        @for (int i = 1; i <= 5; i++)
        {
            <a class="new-book-link" href="#">
            <div class="book-container" id="book@i">
                <img src="~/img/book-test.png" alt="Book @i">
                <div class="new-book-info">
                    <h4>Title of Book @i</h4>
                    <p>Author @i</p>
                    <div class="star-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            </a>
        }
    </div>
</div>

<div class="book-list-body">
    <h2 class="book-list-title">Book List</h2>
    <a href="#" class="view-all-link">View All</a>
    <div class="book-list-container">
        <div class="book-list">
            @for (int i = 1; i <= 3; i++)
            {
                <div class="book-item">
                    <img src="~/img/book-test.png" alt="Book @i">
                    <div class="book-details">
                        <div class="book-info">
                            <h4>Title of Book @i</h4>
                            <p>Author @i</p>
                            <div class="reviews-ratings">
                                <span class="reviews">Reviews: 15 <i class="fas fa-comment"></i></span>
                                <span class="ratings">Ratings: 499</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="popular-books-body">
    <h2 class="popular-books-title">Popular Books</h2>
    <div class="popular-books-containers">
        @for (int i = 1; i <= 5; i++)
        {
            <a class="popular-books-link" href="#">
            <div class="popular-books-container" id="book@i">
                    <div class="place-badge">
                        <i class="fas fa-award"></i>
                    </div>
                <img src="~/img/book-test.png" alt="Book @i">
                <div class="popular-books-info">
                    <h4>Title of Book @i</h4>
                    <p>Author @i</p>
                    <div class="star-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            </a>
        }
    </div>
    <a href="#" class="popular-see-more-link">See More</a>
</div>

<div class="popular-books-list-body">
    <div class="popular-books-list-container">
        <div class="popular-books-list">
            @for (int i = 6; i <= 8; i++)
            {
                <div class="popular-books-list-item">
                    <div class="popular-books-list-number">@i</div>
                    <img src="~/img/book-test.png" alt="Book @i">
                    <div class="popular-books-list-details">
                        <div class="popular-books-list-info">
                            <h4>Title of Book @i</h4>
                            <p>by Author @i</p>
                            <p>Genre @i</p>
                            <div class="popular-reviews-ratings">
                                <span class="reviews">Reviews: 15 <i class="fas fa-comment"></i></span>
                                <span class="ratings">Ratings: 499</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="go-to-book"><i class="fas fa-chevron-right"></i></a>
                </div>
            }
        </div>
    </div>
</div>
 *@

<h1 class="text-start">
    Flip Thru
 </h1>

<div class="row">
    <div class="col">

        <h4 class="text-start">
            Book List
        </h4>

        <div class="float-start search-container">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search Book">
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Book Author</th>
                    <th scope="col">Book Genre</th>
                    <th scope="col">Book Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookList)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.BId)</th>
                        <td>@Html.DisplayFor(modelItem => item.BookTitle)</td>
                        <td>@Html.DisplayFor(modelItem => item.BookAuthor)</td>
                        <td>@Html.DisplayFor(modelItem => item.BookDes)</td>
                        <td>Adventure</td>
                        <td>
                            <a class="btn btn-primary" role="button" asp-controller="Admin" asp-action="AdminBookUpdate" asp-route-bId="@item.BId">Edit <i class="fa-regular fa-pen-to-square"></i> </a>
                            <a class="btn btn-danger" role="button" asp-controller="Admin" asp-action="RemoveBook" asp-route-bId="@item.BId">Delete <i class="fa-solid fa-trash"></i> </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col">

        <h4 class="text-start">
            Review List
        </h4>

        <div class="float-start search-container">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search Book">
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">User</th>
                    <th scope="col">Book Genre</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Review</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Book 1</th>
                    <td>Percy Jackson</td>
                    <td>Angelo Telamo</td>
                    <td>Fantasy</td>
                    <td>5 stars</td>
                    <td>Good Book</td>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">Edit <i class="fa-regular fa-pen-to-square"></i> </a>
                        <a class="btn btn-danger" href="#" role="button">Delete <i class="fa-solid fa-trash"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



