@{
    ViewData["Title"] = "Discover";
}

<div class="float-start pl-3 discover-search-container">
    <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Search Book">
    </div>
</div>

<div id="genreCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">

                <div class="col d-flex justify-content-center">
                    @for (int i = 1; i <= 6; i++)
                    {
                        <button type="button" class="btn btn-genres btn-sm mr-3">Genre @i</button>
                    }
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    @for (int i = 7; i <= 12; i++)
                    {
                        <button type="button" class="btn btn-genres btn-sm mr-3">Genre @i</button>
                    }
                </div>  
            </div>
        </div>


        <div class="carousel-control float-right">
            <a class="carousel-control-prev" href="#genreCarousel" role="button" data-slide="prev" aria-label="Previous">
                <i class="fa-solid fa-chevron-left"></i>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#genreCarousel" role="button" data-slide="next" aria-label="Next">
                <i class="fa-solid fa-chevron-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>





<h4 class="text-start display-4 pl-3 discover-genre">
    Genre 1
</h4>

<div class="row">
    <div class="col">
        <div class="new-book-body">
            <h2 class="new-book-title">New Releases</h2>           
            <div class="book-containers">
                @for (int i = 1; i <= 5; i++)
                {
                    <a class="new-book-link" href="#">
                        <div class="book-container" id="book@i">
                            <img src="~/img/book-test.png" alt="Book @i">
                            <div class="new-book-info">
                                <h4>Title of Book @i</h4>
                                <p>Author @i</p>
                                <div class="star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <a href="#" class="pr-3 see-more-link">View All</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="popular-books-body">
            <h2 class="popular-books-title">Popular Books</h2>
            <div class="popular-books-containers">
                @for (int i = 1; i <= 5; i++)
                {
                    <a class="popular-books-link" href="#">
                        <div class="popular-books-container" id="book@i">
                            <div class="place-badge">
                                <i class="fas fa-award"></i>
                                @* <h4>@i</h4> *@
                            </div>
                            <img src="~/img/book-test.png" alt="Book @i">
                            <div class="popular-books-info">
                                <h4>Title of Book @i</h4>
                                <p>Author @i</p>
                                <div class="star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <a href="#" class="pr-3 popular-see-more-link">See More</a>
        </div>
    </div>
</div>



